.nav_area{
    height: 60px;
    background: var(--bg_navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    color: white;
}

.nav_fixed{
    position: fixed;
    top: 0;
    z-index: 110;
    width: 100%;
}

.logo_search{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav_container{
    flex-basis: 40%;
}

.menu_container{

}
