.nav_links{
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}

.nav_icons{
    font-size: 23px;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--light_shed_text);
    position: relative;
}

@media (max-width: 1150px) {
    .nav_icons{
        padding: 12px 20px;
    }
}

@media (max-width: 870px) {
    .nav_icons{
        display: none;
    }
}

.active_link::after{
    content: "";
    display: inline-block;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4px solid var(--color_main_blue);
    position: absolute;
    bottom: -4px;
    border-radius: 5px;
}

.nav_icons:hover{
    background: var(--bg_light_shed);
}


.active_link svg{
    color: var(--color_main_blue);
}